<div class="p-5">
  <div class="rounded-2xl shadow bg-white p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <!-- Card 1: Mostrar si se cumple una condición -->
      @if (infoPlan()?.data; as info) {
        <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 flex items-center gap-4">
          <div class="p-3 bg-green-100 rounded-lg">
            <img src="assets/icon/calendario.svg" alt="Stat 3" class="w-8 h-8" />
          </div>
          <div>
            <p class="text-gray-500 text-sm">Fecha de creación</p>
            <h3 class="text-lg font-bold text-green-600">
              {{ info.dateCreate | customDate }}
            </h3>
          </div>
        </div>

        <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 flex items-center gap-4">
          <div class="p-3 bg-orange-100 rounded-lg">
            <img src="assets/icon/tipo.svg" alt="Stat 1" class="w-8 h-8" />
          </div>
          <div>
            <p class="text-gray-500 text-sm">Plan</p>
            <h3 class="text-lg font-bold text-orange-600">
              {{ info.titlePlan === null ? 'Sin plan' : info.titlePlan }}
            </h3>
          </div>
        </div>

        <!-- Card 2: Mostrar si se cumple otra condición -->
        <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 flex items-center gap-4">
          <div class="p-3 bg-blue-100 rounded-lg">
            <img src="assets/icon/bell.svg" alt="Stat 2" class="w-8 h-8" />
          </div>
          <div>
            <p class="text-gray-500 text-sm">Documentos generados</p>
            <h3 class="text-lg font-bold text-blue-600">
              {{ info.amountDocsGenerated }}
            </h3>
          </div>
        </div>

        <!-- Card 4: Otra condición -->
        <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 flex items-center gap-4">
          <div class="p-3 bg-red-100 rounded-lg">
            <img src="assets/icon/calendario.svg" alt="Stat 4" class="w-8 h-8" />
          </div>
          <div>
            <p class="text-gray-500 text-sm">Fecha de finalización</p>
            <h3 class="text-lg font-bold text-rose-600">
              {{ info.endDatePlan | customDate }}
            </h3>
          </div>
        </div>
      }
    </div>

    <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mt-10">
      <!-- Gráfico 1 -->
      <h2 class="text-lg font-bold">Gráfico de Ventas</h2>
      <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 w-full h-full">
        <ngx-charts-bar-vertical
          [view]="view"
          [scheme]="colorScheme"
          [results]="barChartResults"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showDataLabel]="true"
          class="w-full h-full"
        >
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</div>
