<div class="p-5">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
    @for (stat of stats; track $index) {
      <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 flex items-center gap-4">
        <div class="p-3" [ngClass]="stat.color" class="rounded-lg p-3">
          <img [src]="stat.icon" [alt]="stat.title" class="w-8 h-8" />
        </div>
        <div>
          <p class="text-gray-500 text-sm">{{ stat.title }}</p>
          <h3 class="text-lg font-bold" [class]="'text-' + stat.color + '-600'">
            {{ getStatValue(stat.key) }}
          </h3>
        </div>
      </div>
    }
  </div>

  <div class="grid grid-cols-4 gap-4">
    <div class="col-span-3 card bg-white shadow-md rounded-lg border border-gray-200 mt-4 p-4">
      <p-chart type="line" [data]="data" [options]="options" class="h-[5rem]" />
    </div>

    <div class="col-span-1 card bg-white shadow-md rounded-lg border border-gray-200 mt-4 p-4">
      <p-chart type="doughnut" [data]="dataRounde" [options]="optionsRpunde"  />
    </div>
  </div>
</div>
