<div class="flex justify-end mb-4 gap-4 flex-col md:flex-row">
  <!-- Botón para agregar producto -->
  <button
    class="flex items-center px-4 py-2 text-sm font-semibold rounded-lg border bg-gray-200 text-gray-700 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 transition duration-300 w-full md:w-auto"
    (click)="addProduct.open()"
  >
    <div class="relative size-4 shrink-0 mr-2 border border-gray-400 rounded-full flex items-center justify-center">
      <img src="/assets/icon/add-product.svg" alt="Agregar Producto" class="size-3" />
    </div>
    Agregar Producto
  </button>
  <!-- Botón para añadir forma de pago -->

  @if (products().length > 0) {
    @defer {
      <button
        (click)="payment.open()"
        class="flex items-center px-4 py-2 text-sm font-semibold rounded-lg border bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300 transition duration-300 w-full md:w-auto"
      >
        + Añadir forma de pago
      </button>
    }
  }
</div>

<div class="border rounded-lg overflow-x-auto max-h-[250px]">
  <table class="w-full">
    <thead>
      <tr class="border-b bg-gray-50">
        <th class="text-left p-3 text-sm font-medium">Código</th>
        <th class="text-left p-3 text-sm font-medium">Descripción</th>
        <th class="text-center p-3 text-sm font-medium">Cantidad</th>
        <th class="text-center p-3 text-sm font-medium">Precio Unit.</th>
        <th class="text-left p-3 text-sm font-medium">Tarifa IVA</th>
        <th class="text-left p-3 text-sm font-medium">Valor IVA</th>
        <th class="text-left p-3 text-sm font-medium">Sub Total</th>
        <th class="text-left p-3 text-sm font-medium">Valor Total</th>
        <th class="px-4 py-4 text-center"></th>
      </tr>
    </thead>
    <tbody>
      @for (product of products(); track $index) {
        <tr class="hover:bg-gray-100 text-sm">
          <td class="p-2">{{ product.mainCode }}</td>
          <td class="p-2">{{ product.name }}</td>
          <td>
            <div class="flex items-center gap-2 w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg mx-auto">
              <!-- Botón de decremento -->
              <button
                class="px-3 py-2 bg-gray-200 rounded-md hover:bg-gray-300 text-base flex items-center justify-center"
                (click)="decrementCantidad(product)"
                type="button"
              >
                -
              </button>

              <!-- Input de cantidad -->
              <input
                [(ngModel)]="product.cantidad"
                [max]="product.availableStock"
                (ngModelChange)="updateProduct(product)"
                (keydown)="restrictInput($event)"
                readonly
                class="w-16 sm:w-20 md:w-24 lg:w-28 px-4 py-2 border border-gray-300 rounded-md text-center text-base focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-transparent"
              />

              <!-- Botón de incremento -->
              <button
                class="px-3 py-2 bg-gray-200 rounded-md hover:bg-gray-300 text-base flex items-center justify-center"
                (click)="incrementCantidad(product)"
                type="button"
              >
                +
              </button>
            </div>
          </td>
          <td class="p-2">
            <div class="flex items-center justify-center w-full">
              <input
                type="number"
                step="0.01"
                min="0"
                [(ngModel)]="product.unitPrice"
                (keyup)="updateProduct(product)"
                (ngModelChange)="updateProduct(product)"
                class="w-full sm:w-12 md:w-24 lg:w-32 xl:w-32 px-4 py-2 border border-gray-300 rounded-md text-center text-base focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-transparent min-w-[120px]"
              />
            </div>
          </td>

          <td class="p-2">{{ product.tariffDesIva }}</td>
          <td class="p-2">{{ product.valorIVA | currency }}</td>
          <td class="p-2">{{ product.subTotal | currency }}</td>
          <td class="p-2">{{ product.valorTotal | currency }}</td>
          <td>
            <div class="flex gap-1">
              <button
                (click)="removeProduct(product.ide)"
                class="flex items-center justify-center p-2 rounded-md bg-gray-100 hover:bg-gray-200"
              >
                <img src="assets/icon/trash-icon.svg" alt="" class="w-20 sm:w-20 md:w-5" />
              </button>
            </div>
          </td>
        </tr>
      }
      @if (products().length === 0) {
        <tr>
          <td colspan="9" class="p-2">
            <div
              class="flex flex-col items-center justify-center mt-4 h-20 border border-gray-300 bg-gray-50 border-dashed rounded-md text-gray-400 text-center"
            >
              <p class="font-medium">Ningún producto seleccionado</p>
              <span class="text-xs">Por favor, seleccione un producto para ver su información</span>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (paymentMethods()?.length) {
  <div class="border rounded-lg overflow-x-auto mt-5">
    <table class="w-full text-xs">
      <thead>
        <tr class="border-b bg-gray-50">
          <th class="text-left p-2 font-medium">Forma de Pago</th>
          <th class="text-center p-2 font-medium">Tiempo</th>
          <th class="text-center p-2 font-medium">Plazo</th>
          <th class="text-center p-2 font-medium">Valor</th>
          <th class="px-2 py-2 text-center"></th>
        </tr>
      </thead>
      <tbody>
        @for (payment of paymentMethods(); track $index) {
          <tr class="hover:bg-gray-100">
            <td class="p-2 text-sm">{{ payment.metodoPago.description }}</td>
            <td class="p-2 text-center text-sm">{{ payment.plazo }}</td>
            <td class="p-2 text-center text-sm">{{ payment.tiempo }}</td>
            <td class="p-2 text-center text-sm">{{ payment.valor | currency }}</td>
            <td>
              <div class="flex justify-center gap-1">
                <button
                  class="flex items-center justify-center p-1 rounded-md bg-gray-100 hover:bg-gray-200"
                  (click)="removePayment(payment.metodoPago.code)"
                >
                  <img src="assets/icon/trash-icon.svg" alt="" class="w-4 sm:w-5 md:w-4" />
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

<app-modal #addProduct>
  <div class="h-full flex items-center">
    <div class="bg-white w-full rounded-lg overflow-auto max-h-full">
      <header class="p-4 flex justify-between items-center border border-b border-gray-300">
        <h2 class="font-bold text-xl truncate">Agregar Productos</h2>
        <button (click)="addProduct.close()" class="shrink-0">
          <img
            ngSrc="/assets/icon/close-icon.svg"
            width="14"
            height="18"
            alt="close"
            style="filter: invert(64%) sepia(1%) saturate(370%) hue-rotate(314deg) brightness(94%) contrast(91%)"
          />
        </button>
      </header>
      @defer {
        <section class="p-4">
          <app-lista-productos
            (addProducto)="addProduct.close()"
            (addProducto)="$event && addProducto($event)"
            [setPersonaRol]="setPersonaRol"
          />
        </section>
      }
    </div>
  </div>
</app-modal>

<app-modal #payment>
  <div class="h-full flex items-center justify-center">
    <div class="bg-white w-full max-w-2xl rounded-lg overflow-auto max-h-[80vh]">
      <header class="p-4 flex justify-between items-center border-b border-gray-300">
        <h2 class="font-bold text-xl truncate">Agregar formas de pago</h2>
        <button (click)="payment.close()" class="shrink-0">
          <img
            ngSrc="/assets/icon/close-icon.svg"
            width="14"
            height="18"
            alt="close"
            style="filter: invert(64%) sepia(1%) saturate(370%) hue-rotate(314deg) brightness(94%) contrast(91%)"
          />
        </button>
      </header>
      <section class="p-4">
        <app-add-payment (addPay)="payment.close()" (addPay)="$event && addPayment($event)"
            [total]="calculateTotal()"
        />

      </section>
    </div>
  </div>
</app-modal>
