@if (loading()) {
  <div class="h-full text-center flex justify-center items-center">
    <div class="loader"></div>
  </div>
} @else {
  @if (customer()!.data!.infoPersonal; as customer) {
    <div class="flex flex-col lg:flex-row gap-4 p-4">
      <aside class="w-full lg:w-1/4 flex flex-col gap-4">
        <div class="bg-white rounded-lg shadow p-4 py-6">
          <div
            class="relative group bg-blue-950 text-white rounded-lg size-20 flex items-center justify-center mb-2 mx-auto text-2xl"
          >
            <h2 class="text-xl truncate text-white">{{ customer.names + ' ' + customer.lastName | initials }}</h2>
          </div>
          <h2 class="text-lg truncate text-center font-medium">
            {{ customer.names + ' ' + customer.lastName }}
          </h2>

          <div class="flex justify-center">
            <span
              class="px-2 py-1 text-xs text-white rounded-full mt-1 inline-block w-auto text-center"
              [ngClass]="{
                'bg-green-500': customer.statusRecord === 'Activo',
                'bg-red-500': customer.statusRecord === '1',
              }"
            >
              {{ customer.statusRecord }}
            </span>
          </div>

          <div class="group open mt-3" #details>
            <div class="flex justify-between items-center">
              <h3 class="text-black">Información Personal</h3>

              <button
                class="bg-gray-200 text-gray-600 py-1 px-3 rounded"
                (click)="editClient.open(); updateClient.set(customer)"
              >
                Editar
              </button>
            </div>
            <hr class="my-2" />
            <div class="mb-2 grid grid-rows-[0fr] transition-all group-[.open]:grid-rows-[1fr]">
              <div class="overflow-hidden">
                <div>
                  <div class="mb-2">
                    <h4>Indentificacion</h4>

                    <p class="text-neutral-500 mb-2">
                      {{ customer.identificationNumber }}
                    </p>
                  </div>
                  <div class="mb-2">
                    <h4 class="mb-2">Teléfono</h4>
                    <p class="text-neutral-500 mb-2">
                      {{ customer.cellPhone | formatPhone }}
                    </p>
                  </div>

                  <div class="mb-2">
                    <h4>Correo</h4>
                    <p class="text-neutral-500 mb-2">
                      {{ customer.email }}
                    </p>
                  </div>

                  <div class="mb-2">
                    <h4>Dirección</h4>
                    <p class="text-neutral-500 mb-2">
                      {{ customer.address }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>

      <main class="flex flex-col gap-4 w-full">
        <div class="flex flex-col lg:flex-row gap-4">
          <!-- Sección Lista de Documentos -->
          @defer {
            <section class="bg-white p-4 rounded-lg shadow flex-[8]">
              <app-lista-doc  [idePersonaRol]="customer.idePersonaRol" />
            </section>
          }

          <!-- Sección Gráfica de Buró de Crédito -->
          @defer {
            <section class="bg-white p-4 rounded-lg shadow flex-[2] h-[350px]">
              <app-buro-credito />
            </section>
          }
        </div>
      </main>

    </div>
  }
}

<app-modal #editClient>
  @defer {
    <div class="flex items-center justify-center">
      <div class="bg-white w-full rounded-lg overflow-auto">
        <header class="p-4 flex justify-between items-center border-b border-gray-300">
          <h2 class="font-bold text-xl truncate">Editar Cliente</h2>
          <button (click)="editClient.close()" class="shrink-0">
            <img ngSrc="/assets/icon/close-icon.svg" width="14" height="18" alt="Close" class="opacity-50" />
          </button>
        </header>
        <section class="p-6">
          @if (updateClient(); as update) {
            <app-update-cliente-empresa
              [updatePersona]="update"
              (created)="editClient.close(); updateClient.set(null)"
              (created)="$event && updateCliente($event)"
            />
          }
        </section>
      </div>
    </div>
  }
</app-modal>
