<header class="bg-white shadow-sm flex justify-between items-center border-s-fuchsia-200 h-[72px] px-4">
  <div class="flex items-center gap-4">
    <button
      class="size-8 bg-[#35568F] rounded-lg transition-all"
      (click)="toggle()"
      >
      <!-- [ngClass]="{ 'rotate-180': closeSidebar() }" -->
      <div class="relative flex justify-center items-center">
        <img ngSrc="/assets/icons/toggle-menu-icon.svg" style="filter: invert(100%)" width="16" height="16" alt="" />
      </div>
    </button>

    <div class="hidden lg:block">
      <!-- @if (user(); as user) {
        <h5 class="font-bold text-xl">Welcome back {{ user.first_name }}!</h5>
      } -->
      <p class="text-neutral-400">Track your sales activity, leads and deals here.</p>
    </div>
  </div>

  <div class="flex items-center justify-between gap-4">

    <!-- @if (user(); as user) { -->
      <!-- <div class="relative hidden lg:block">
        <button class="flex items-center bg-white border-0 p-1" (click)="dropdownsm.classList.toggle('hidden')">
          {{ user.first_name }} {{ user.last_name }}
          <img src="assets/icons/arrow-down.svg" class="ml-2 size-3" alt="" />
        </button>
      </div> -->

      <div class="relative">
        <button
          (click)="dropdownsm.classList.toggle('hidden')"
          type="button"
          class="text-white text-center avatar rounded cursor-pointer mr-5"
          role="button"
          style="width: 30px; height: 30px; line-height: 30px"
        >
        <img src="assets/icon/config.svg" alt="config" >
        </button>
        <ul class="absolute right-0 mt-2 w-48 bg-white border rounded shadow-lg dropdown-menu hidden" #dropdownsm>
          <li>
            <a class=" px-4 py-2 hover:bg-gray-100 flex items-center">
              <img src="assets/icon/perfil.svg" alt="user" class="mr-2" />
              Perfil
            </a>
          </li>

          <li>
            <a
              class="block px-4 py-2 hover:bg-gray-100"
              >Salir</a
              >

          </li>
        </ul>
      </div>
    <!-- } -->
  </div>
</header>
