<header class="bg-white shadow-sm flex justify-between items-center border-s-fuchsia-200 h-[72px] px-4">
  <div class="flex items-center gap-4">
    <button
      class="size-8 bg-[#35568F] rounded-lg transition-all"
      (click)="toggle()"
      [ngClass]="{ 'rotate-180': closeSidebar() }"
    >
      <div class="relative flex justify-center items-center">
        <img ngSrc="/assets/icon/toggle-menu-icon.svg" style="filter: invert(100%)" width="16" height="16" alt="" />
      </div>
    </button>

    <div class="hidden lg:block">
      <p class="text-neutral-400">
        Realice un seguimiento de su actividad de ventas, clientes potenciales y más en un solo lugar.
      </p>
    </div>
  </div>

  <div class="relative hidden lg:flex items-center space-x-2">
    <div class="mr-6">
      <a
        class="flex items-center rounded p-1 hover:bg-gray-50 border border-gray-50"
        href="https://youtu.be/cVifD5UbF-E?si=OpgPS6pxeYiunrB9"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="assets/icon/tooltip.svg" alt="Tutorial" class="w-5 h-5" />
        <span class="ml-2 text-sm">Ver tutorial</span>
      </a>
    </div>
    @if (userData(); as user) {
      <div class="relative">
        <button
          type="button"
          class="text-white text-center avatar rounded bg-red-600"
          role="button"
          style="width: 30px; height: 30px; line-height: 30px"
        >
          {{ user.fullName | initials }}
        </button>
      </div>

      <div class="relative">
        <button class="flex items-center rounded p-1 hover:bg-gray-100" (click)="toggleDropdown()">
          {{ user.fullName }}
        </button>

        <ul
          class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded shadow-lg z-50"
          [class.hidden]="!isDropdownOpen()"
        >
          <li>
            <a (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer">
              Salir
            </a>
          </li>
        </ul>
      </div>
    }
  </div>
</header>
