<div class="text-sm">
  <header class="bg-orange-50 hover:bg-orange-100 transition-colors p-4 rounded-t-lg cursor-pointer">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-4">
        <i class="fas fa-receipt text-orange-500"></i>
        <h2 class="text-lg font-semibold">Resumen de Pago</h2>
      </div>
    </div>
  </header>
  <div class="p-4 space-y-6">
    <div class="space-y-2">
      <label for="metodo-pago" class="text-sm font-medium text-gray-500">Método de Pago</label>
      <select id="metodo-pago" class="w-full p-2 border rounded" [(ngModel)]="selectedPaymentMethod">
        <option value="">Seleccionar método</option>
        @for (method of paymentMethods()?.data; track $index) {
          <option [value]="method.code">
            {{ method.description }}
          </option>
        }
      </select>
    </div>

    <div class="space-y-3 pt-4 border-t">

      <!-- @for (item of listIva()?.data; track $index) {
        
        <div class="flex justify-between text-sm">
          <span class="text-gray-600">
            {{ 'Subtotal '+ item.description}}:
          </span>
        </div>
      } -->

      <!-- <div class="flex justify-between text-sm">
        <span class="text-gray-600">
          {{ 'IVA'}}:
        </span>
      </div>

      <div class="flex justify-between text-sm">
        <span class="text-gray-600">
          {{ 'ICE '}}:
        </span>
      </div>

      <div class="flex justify-between text-sm">
        <span class="text-gray-600">
          {{ 'SUBTOTAL SIN IMPUESTOS: '}}:
        </span>
      </div>

      
      <div class="flex justify-between text-sm">
        <span class="text-gray-600">
          {{ 'SUBTOTAL CON IMPUESTOS: '}}:
        </span>
      </div> -->
      @for (item of valuesCalculates(); track item.key) {
        <div class="flex justify-between text-sm">
          <span class="text-gray-600">
          
            @if (item.key === 'tarifaIva') {
              @for (itemIva of item.values ; track itemIva.key) {

                <div class="flex justify-between text-sm">
                  <span class="text-gray-600">
                    {{ 'Subtotal '+  itemIva.label}} : {{itemIva.value | currency}}
                  </span>
                </div>
              }
            }@else{
              <div class="flex justify-between text-sm">
                <span class="text-gray-600">
                  {{ item.label}} : {{item.values | currency}}
                </span>
              </div>
            }

          </span>
        </div>
      }
    
      <div class="flex justify-between text-lg font-bold pt-2 border-t">
        <span>Valor a Pagar:</span>
        <!-- <span>${{calculateTotal().toFixed(2)}}</span> -->
      </div>
    </div>

    <button class="w-full h-12 text-lg mt-4 bg-green-600 hover:bg-green-700 text-white rounded"
      (click)="configFactu.submit()"
    >
      <i class="fas fa-dollar-sign mr-2"></i>
      Registrar Venta
    </button>
  </div>
</div>
