<!-- Footer -->
<footer class="bg-gray-50 py-12 px-4 sm:px-6">
  <div class="container mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      <div>
        <h3 class="mb-4 font-semibold">Producto</h3>
        <ul class="space-y-2">
          <li><a href="#" class="text-gray-600 hover:text-gray-900">Características</a></li>
          <li><a href="#" class="text-gray-600 hover:text-gray-900">Precios</a></li>
          <li>
            <a
              href="https://youtu.be/cVifD5UbF-E?si=OpgPS6pxeYiunrB9"
              target="_blank"
              class="text-gray-600 hover:text-gray-900"
              >Tutoriales</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-4 font-semibold">Compañía</h3>
        <ul class="space-y-2">
          <li><a  class="text-gray-600 hover:text-gray-900"
            routerLink="/sobre_nosotros"
            >Sobre nosotros</a></li>
          <li><a href="#" class="text-gray-600 hover:text-gray-900">Blog</a></li>
          <li><a [href]="link()" target="_blank" class="text-gray-600 hover:text-gray-900">Contacto</a></li>
        </ul>
      </div>
      <div>
        <h3 class="mb-4 font-semibold">Legal</h3>
        <ul class="space-y-2">
          <li><a href="#" class="text-gray-600 hover:text-gray-900">Privacidad</a></li>
          <li><a href="#" class="text-gray-600 hover:text-gray-900">Términos</a></li>
        </ul>
      </div>
      <div>
        <h3 class="mb-4 font-semibold">Social</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="https://www.tiktok.com/@olimpushinfo?_t=ZM-8tMcDXpKztG&_r=1"
              target="_blank"
              class="text-gray-600 hover:text-gray-900"
              >Tik Tok</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/@OlimPush-d4f" target="_blank" class="text-gray-600 hover:text-gray-900"
              >YouTube</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/people/OlimPush-Sistema-Contable/61572475136861/?sk=about"
              target="_blank"
              class="text-gray-600 hover:text-gray-900"
              >Facebook</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-12 border-t border-gray-200 pt-8">
      <p class="text-center text-gray-600">© 2025 Desarrollado por OlimPush, Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
