<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
    <div>
      <app-custom-input label="Razon Social" formControlName="razon_social" />
    </div>
    <div>
      <app-custom-input label="Nombre Comercial" formControlName="comercialName" />
    </div>
    <div>
      <app-custom-input label="Dirección Matriz" formControlName="mainAddress" />
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
    <div>
      <app-custom-select
        formControlName="typePerson"
        placeholder="Tipo de Persona"
        [options]="typePerson().values"
        [labels]="typePerson().labels"
      />
    </div>
    <div>
      <app-custom-input label="Contribuyente Especial" formControlName="specialContributor" />
    </div>
    <div>
      <app-custom-input label="Agente de Retención" formControlName="retentionAgent" />
    </div>
    <div>
      <app-custom-input
        label="Codigo de Establecimiento"
        formControlName="code"
        (input)="onUsernameInput($event, 'code')"
      />
    </div>
  </div>

  <app-form-error-message [control]="form.controls.electronicDocuments" />

  <div class="grid grid-cols-1 md:grid-cols-1 gap-6 mb-6">
    <div>
      <input
        id="additional_statements"
        type="checkbox"
        [checked]="form.controls.electronicDocuments.enabled"
        (change)="toggle($event, 'electronicDocuments')"
      />
      <label for="additional_statements" class="text-gray-700 font-bold ml-2"> Subir Documentos Electrónico </label>
      @if (form.controls.electronicDocuments.enabled) {
        <div>
          <app-document-picker formControlName="statement" />
        </div>
      }
    </div>

    <div class="flex items-center">
      <label for="rimpe" class="flex items-center cursor-pointer">
        <div class="relative">
          <input id="rimpe" type="checkbox" class="sr-only" [formControl]="form.controls.rimpe" />
          <div
            class="block w-10 h-6 rounded-full bg-gray-400 transition-colors"
            [ngClass]="{
              'bg-secondary': form.controls.rimpe.value,
            }"
          ></div>
          <div
            class="dot absolute left-1 top-1 size-4 bg-white rounded-full transition-all"
            [ngClass]="{
              'translate-x-full': form.controls.rimpe.value,
              'translate-x-0': !form.controls.rimpe.value,
            }"
          ></div>
        </div>
        <div class="ml-3">Pertenece al regimen Rimpe?</div>
      </label>
    </div>
    <div class="flex items-center">
      <label for="rimpePopular" class="flex items-center cursor-pointer">
        <div class="relative">
          <input id="rimpePopular" type="checkbox" class="sr-only" [formControl]="form.controls.rimpePopular" />
          <div
            class="block w-10 h-6 rounded-full bg-gray-400 transition-colors"
            [ngClass]="{
              'bg-secondary': form.controls.rimpePopular.value,
            }"
          ></div>
          <div
            class="dot absolute left-1 top-1 size-4 bg-white rounded-full transition-all"
            [ngClass]="{
              'translate-x-full': form.controls.rimpePopular.value,
              'translate-x-0': !form.controls.rimpePopular.value,
            }"
          ></div>
        </div>
        <div class="ml-3">Pertenece al regimen Rimpe Popular?</div>
      </label>
    </div>
    <div class="flex items-center">
      <label for="requiredAccounting" class="flex items-center cursor-pointer">
        <div class="relative">
          <input
            id="requiredAccounting"
            type="checkbox"
            class="sr-only"
            [formControl]="form.controls.requiredAccounting"
          />
          <div
            class="block w-10 h-6 rounded-full bg-gray-400 transition-colors"
            [ngClass]="{
              'bg-secondary': form.controls.requiredAccounting.value,
            }"
          ></div>
          <div
            class="dot absolute left-1 top-1 size-4 bg-white rounded-full transition-all"
            [ngClass]="{
              'translate-x-full': form.controls.requiredAccounting.value,
              'translate-x-0': !form.controls.requiredAccounting.value,
            }"
          ></div>
        </div>
        <div class="ml-3">Obligado a llevar Contabilidad?</div>
      </label>
    </div>
    <div>
      <h3 class="text-gray-700 font-bold mb-2">Tipo de Ambiente</h3>
      <div class="grid lg:grid-cols-3 grid-cols-1 gap-2">
        @for (ambiente of environmentList(); track $index) {
          <label [for]="'checkbox' + $index" class="flex items-center">
            <input
              [id]="'checkbox' + $index"
              type="checkbox"
              (change)="onCheckboxChange($event, ambiente.code)"
              [checked]="form.controls.environmentCode.value === ambiente.code"
              class="mr-2"
            />
            {{ ambiente.description }}
          </label>
        }
      </div>
      @if (form.controls.environmentCode.value) {
        <span class="label-text-alt text-gray-400 text-xs">
          {{
            form.controls.environmentCode.value === '1'
              ? 'Simula tus datos sin afectar operaciones reales.'
              : 'Tus datos estarán activos y disponibles para uso real.'
          }}
        </span>
      }
      <app-form-error-message [control]="form.controls.environmentCode" />
    </div>
  </div>

  <div class="flex gap-4 justify-end mt-10 md:flex-row flex-col text-center max-md:w-full">
    <button class="items-center gap-2 bg-zinc-200 px-4 py-2 rounded-lg md:flex text-gray-600" type="button">
      Cerrar
    </button>
    <button class="items-center gap-2 bg-secondary px-4 py-2 rounded-lg text-white md:flex" type="submit">
      Guardar
    </button>
  </div>
</form>
