

<h3 class="text-sm font-medium flex items-center gap-1 mb-3 text-gray-700">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="text-orange-500"
  >
    <path d="M3 3v18h18" />
    <path d="m19 9-5 5-4-4-3 3" />
  </svg>
  Resumen de Pago
</h3>
@if (valuesCalculates()?.length) {
  @for (item of valuesCalculates(); track item.key) {
    <div class="space-y-1 text-xs">
      @if (item.key === 'tarifaIva') {
        @for (itemIva of item.values; track itemIva.key) {
          <div class="flex justify-between">
            <span class="text-gray-600">{{ 'Subtotal ' + itemIva.label }}</span>
            <span>{{ itemIva.value | currency }}</span>
          </div>
        }
      } @else {
        <div class="flex justify-between">
          <span class="text-gray-600">{{ item.label }}</span>
          <span>{{ item.values | currency }}</span>
        </div>
      }
    </div>
  }
}
