<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <app-custom-input label="Establecimiento" formControlName="establecimiento"
        subLabel="Por favor, ingrese el establecimiento" />
    </div>

    <div>
      <app-custom-input label="Nombre Comercial" formControlName="nombre_comercial" />
    </div>
    <div>
      <app-custom-input label="Dirección Matriz" formControlName="direccion_matriz" />
    </div>

    <div>
      <app-custom-input label="Rimpe" formControlName="rimpe" />
    </div>

    <div>
      <app-custom-input label="Razon Social" formControlName="razon_social" />
    </div>
  </div>
  <div class="flex gap-4 justify-end mt-10 md:flex-row flex-col text-center max-md:w-full">
    <button class="items-center gap-2 bg-zinc-200 px-4 py-2 rounded-lg md:flex text-gray-600" type="button"
    (click)="formService.prev()"
    >
      <div class="relative size-5 shrink-0 hidden md:block">
        <img ngSrc="/assets/icon/arrow-left.svg" alt="Back" fill />
      </div>
      Atras
    </button>
    <button class="items-center gap-2 bg-secondary px-4 py-2 rounded-lg text-white md:flex" type="submit">
      Continuar
      <div class="relative size-5 shrink-0 hidden md:block">
        <img ngSrc="/assets/icon/arrow-right.svg" alt="Right" class="filter invert-[100%]" fill />
      </div>
    </button>
  </div>
</form>
