<div class="flex flex-col items-center mb-4">
  <img src="/assets/icon/alert.svg" alt="" class="size-20 mb-4" />
  <h3 class="text-lg font-semibold text-gray-800 text-center">Confirmar envio a facturar</h3>
</div>
<p class="text-sm text-gray-600 mb-4 text-center">
  ¿Estas seguro de que deseas facturar estas proformas?
</p>
<div class="flex justify-center gap-4">
  @if (!loading()) {
    <button
      class="px-4 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400"
      type="button"
      (click)="facturarProforma.emit(null)"
    >
      Cancelar
    </button>
    <button class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700" (click)="deleteDoc()">
      Confirmar
    </button>
  } @else {
    <div class="flex justify-center items-center h-full mt-4">
      <div class="loader"></div>
    </div>
  }
</div>
