<div class="p-4 border border-gray-200 rounded-md shadow-sm bg-white">
  @if (loading()) {
    <div class="flex justify-center items-center h-full mt-4">
      <div class="loader"></div>
    </div>
  } @else {
    @if (infoXML; as dataxML) {
      <div class="mt-2 text-sm">
        <div class="grid gap-2 md:grid-cols-[1fr,3fr]">
          <div class="relative text-sm">
            <div class="absolute inset-0 bg-gradient-to-b from-blue-50/50 to-white rounded-xl"></div>
            <div
              class="relative flex flex-col items-center justify-center gap-4 rounded-xl bg-white/50 backdrop-blur-sm"
            >
              <div class="relative">
                @if (!fileUrl()) {
                  <div>
                    <label
                      class="bg-gray-50 border border-dashed border-neutral-400 block p-4 rounded-lg text-center mb-4 cursor-pointer"
                    >
                      <div class="flex gap-2 flex-col">
                        <input type="file" (change)="onFileSelected($event)" class="hidden" accept=".xml" />
                        <div class="size-14 mx-auto bg-blue-300 rounded-full flex items-center justify-center">
                          <img src="/assets/icon/drag_and_drop.svg" alt="Upload" width="35" height="30" />
                        </div>
                        <p class="text-balance">
                          Arrastre y suelte el archivo aquí o seleccione el comprobante de pago
                        </p>
                        <p class="text-sm text-neutral-400">Formato del archivo permitido: JPG, PNG</p>
                      </div>
                    </label>
                  </div>
                } @else {
                  <div
                    class="relative p-4 rounded-lg bg-white border border-neutral-300 shadow-md hover:shadow-lg transition-all flex flex-col items-center"
                  >
                    <!-- Botón eliminar en la parte superior derecha -->
                    <button
                      class="absolute top-2 right-2 p-2 rounded-md bg-gray-300 hover:bg-gray-400 transition-colors"
                      (click)="removeLogo()"
                    >
                      <img src="/assets/icon/trash-icon.svg" class="w-5" alt="Delete" />
                    </button>

                    <!-- Ícono de archivo centrado -->
                    <div class="rounded-md size-16 flex items-center justify-center bg-blue-400 my-4">
                      <img src="/assets/icon/file.svg" width="32" height="32" alt="File" />
                    </div>

                    <!-- Nombre del archivo -->
                    <p
                      class="truncate text-sm font-medium text-gray-700 text-center max-w-[290px]"
                      [title]="nameFile()"
                    >
                      {{ nameFile() }}
                    </p>
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <div class="grid gap-2 md:grid-cols-2">
              <div
                class="flex items-start gap-3 p-3 rounded-xl bg-white border shadow-sm transition-shadow hover:shadow-md"
              >
                <div class="rounded-lg bg-blue-50 p-2">
                  <img src="/assets/icon/emisor.svg" alt="Info" class="w-6 h-6" />
                </div>
                <div class="space-y-1 min-w-0">
                  <p class="text-sm text-gray-500">Nombre Comercial</p>
                  <p class="font-medium truncate">{{ dataxML.infoTributaria.nombreComercial }}</p>
                </div>
              </div>
              <div
                class="flex items-start gap-3 p-3 rounded-xl bg-white border shadow-sm transition-shadow hover:shadow-md"
              >
                <div class="rounded-lg bg-blue-50 p-2">
                  <img src="/assets/icon/emisor.svg" alt="Info" class="w-6 h-6" />
                </div>
                <div class="space-y-1 min-w-0">
                  <p class="text-sm text-gray-500">RUC</p>
                  <p class="font-medium truncate">{{ dataxML.infoTributaria.ruc }}</p>
                </div>
              </div>
            </div>
            <div class="grid gap-2 md:grid-cols-2">
              <div
                class="flex items-start gap-3 p-3 rounded-xl bg-white border shadow-sm transition-shadow hover:shadow-md text-sm"
              >
                <div class="rounded-lg bg-blue-50 p-2">
                  <img src="assets/icon/address.svg" alt="" />
                </div>

                <div class="space-y-1 min-w-0">
                  <p class="text-sm text-gray-500">Dirección</p>
                  <p class="font-medium truncate">{{ dataxML.infoTributaria.dirMatriz }}</p>
                </div>
              </div>

              <div
                class="flex items-start gap-3 p-3 rounded-xl bg-white border shadow-sm transition-shadow hover:shadow-md"
              >
                <div class="rounded-lg bg-purple-100 p-2">
                  <img src="assets/icon/company.svg" alt="" />
                </div>
                <div class="space-y-1 min-w-0">
                  <p class="text-sm text-gray-500">Establecimiento</p>
                  <div class="flex items-center gap-2">
                    <p class="font-medium truncate">
                      {{ dataxML.infoTributaria.estab }}
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid gap-4 md:grid-cols-2">
              <div
                class="flex items-start gap-3 p-3 rounded-xl bg-white border shadow-sm transition-shadow hover:shadow-md"
              >
                <div class="space-y-1 flex-1">
                  <app-custom-select
                    [(ngModel)]="dataTypeBuy"
                    placeholder="Selecciona un tipo de compra"
                    [options]="typeBuy().values"
                    [labels]="typeBuy().labels"
                    [prefix]="'📇'"
                  />
                </div>
              </div>
              <div
                class="flex items-start gap-3 p-3 rounded-xl bg-white border shadow-sm transition-shadow hover:shadow-md"
              >
                <div class="rounded-lg bg-pink-50 p-2">
                  <img src="assets/icon/code.svg" alt="" />
                </div>
                <div class="space-y-1 flex-1">
                  <p class="text-sm text-gray-500">Punto de venta</p>
                  <div class="flex items-center gap-2">
                    <p class="font-medium truncate">
                      {{ dataxML.infoTributaria.ptoEmi }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="border rounded-lg overflow-x-auto mt-5">
        <table class="w-full table-auto">
          <thead>
            <tr class="border-b bg-gray-100">
              <th class="text-center p-3 text-sm font-medium">Código</th>

              <th class="text-center p-3 text-sm font-medium">Descripción</th>
              <th class="text-center p-3 text-sm font-medium">Cantidad</th>
              <th class="text-center p-3 text-sm font-medium">Valor Iva</th>
              <th class="text-center p-3 text-sm font-medium">Precio Unitario</th>
              <th class="text-center p-3 text-sm font-medium">Monto Total</th>
            </tr>
          </thead>
          <tbody>
            @for (item of listaDetalle(); track $index) {
              <tr class="border-b bg-white">
                <td class="p-3 text-center text-sm">{{ item.codigoPrincipal }}</td>
                <td class="p-3 text-center text-sm">{{ item.descripcion }}</td>
                <td class="p-3 text-center text-sm">{{ item.cantidad }}</td>
                <td class="p-3 text-center text-sm">{{ item.valorIVA | currency }}</td>
                <td class="p-3 text-center text-sm">
                  {{ item.subTotal | currency }}
                </td>
                <td class="p-3 text-center text-sm">
                  {{ item.total | currency }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-2">
        <div class="space-y-4 p-2 mt-5">
          <h2 class="text-lg font-semibold text-gray-700">Información Adicional</h2>
          @if (dataxML.infoAdicional) {
            @for (item of dataxML.infoAdicional.campoAdicional; track $index) {
              <div class="flex text-xs items-center">
                <span class="font-medium text-gray-600">{{ item.nombre }}:</span>
                <span class="text-gray-800 font-normal">{{ item.value }}</span>
              </div>
            }
          }
        </div>

        <div class="overflow-x-auto mt-5">
          <table class="w-full table-auto rounded-lg">
            <thead>
              <tr class="border-b bg-gray-100">
                <th class="text-center p-3 text-sm font-medium">Forma de Pago</th>
                <th class="text-center p-3 text-sm font-medium">Plazo</th>
                <th class="text-center p-3 text-sm font-medium">Unidad de Tiempo</th>
                <th class="text-center p-3 text-sm font-medium">Monto Total</th>
              </tr>
            </thead>
            <tbody>
              @for (item of dataxML.infoFactura.pagos.pago; track $index) {
                <tr class="border-b bg-white">
                  <td class="p-3 text-center text-sm">{{ config.paymentMethod()[item.formaPago] }}</td>
                  <td class="p-3 text-center text-sm">{{ item.plazo || 0 }}</td>
                  <td class="p-3 text-center text-sm">{{ item.unidadTiempo || '0 Dias' }}</td>
                  <td class="p-3 text-center text-sm">{{ item.total | currency }}</td>
                </tr>
              }
              <tr class="border-t bg-gray-50 font-bold">
                <td colspan="3" class="p-3 text-right">Total:</td>
                <td colspan="4" class="p-3 text-center">{{ dataxML.infoFactura.importeTotal | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    }

    <div class="flex gap-4 justify-end mt-10 md:flex-row flex-col text-center max-md:w-full">
      <button
        class="items-center gap-2 border border-gray-400 px-4 py-2 rounded-lg md:flex text-gray-700"
        type="button"
        routerLink="/sistema_contable_empresa/proveedores"
      >
        Cerrar
      </button>
      <button class="items-center gap-2 bg-secondary px-4 py-2 rounded-lg text-white md:flex" (click)="saveXML()">
        Guardar
      </button>
    </div>
  }
</div>
