<!-- Modal de Registro Exitoso -->
@if (config.saveDataFactura()) {
  <div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
    <div class="bg-white rounded-2xl p-6 w-full max-w-md shadow-xl relative">
      <button
        class="absolute top-3 right-3 text-gray-500 hover:text-gray-800 focus:outline-none"
        (click)="config.saveDataFactura.set(false)"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>

      <div class="text-center">
        <img src="assets/success.png" alt="Alert Icon" class="w-16 h-16 mx-auto mb-4" />
        <h3 class="text-xl font-semibold text-gray-800">¡Datos Registro Exitosos!</h3>
        <p class="text-sm text-gray-600 mt-2">
          {{ config.modalMessage }}
        </p>
      </div>

      @if (config.actionToConfirm === 'Credito') {
        @if (!config.loading()) {
          <div class="mt-6 grid gap-3 sm:flex sm:justify-center">
            <!-- <button class="px-5 py-2 border border-gray-100 bg-gray-100 rounded-lg hover:bg-gray-200 w-full sm:w-auto">
              Guardar
            </button> -->

            <button
              class="px-5 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 w-full sm:w-auto"
              (click)="config.saveDocument()"
            >
              Enviar SRI
            </button>
          </div>
        } @else {
          <div class="flex justify-center items-center h-full mt-4">
            <div class="loader"></div>
          </div>
        }
      } @else {
        @if (!config.loading()) {
          <div class="mt-6 grid gap-3 sm:flex sm:justify-center">
            <button
              class="px-5 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 w-full sm:w-auto"
              (click)="config.saveDocument()"
            >
              Confirmar
            </button>
          </div>
        } @else {
          <div class="flex justify-center items-center h-full mt-4">
            <div class="loader"></div>
          </div>
        }
      }
    </div>
  </div>
}

@if (!config.loading()) {
  <div class="flex flex-col md:flex-row justify-end gap-4 p-2 text-center">
    <div class="flex justify-end gap-2">
      <button
        class="inline-flex items-center gap-1 text-gray-600 text-sm px-3 py-2 rounded-md hover:bg-gray-100"
        (click)="config.saveDatos('Guardar')"
      >
        <img src="assets/icon/save.svg" alt="" />
        Guardar
      </button>
      <button
        class="inline-flex items-center gap-1 text-sm px-3 py-1 rounded-md"
        (click)="config.saveDatos('Credito')"
        [ngClass]="{
          ' text-gray-600 cursor-not-allowed': !hasPaymentCode('00'),
          'bg-gray-200 text-gray-700 hover:bg-gray-300': hasPaymentCode('00'),
        }"
      >
        <img src="assets/icon/credito.svg" alt="" />
        Crédito
      </button>
      <button
        class="inline-flex items-center gap-1 text-sm px-3 py-1 rounded-md"
        [ngClass]="{
          'bg-emerald-500 hover:bg-emerald-600 text-white opacity-50 cursor-not-allowed': hasPaymentCode('00'),
          'bg-green-500 text-white hover:bg-green-700': !hasPaymentCode('00'),
        }"
        (click)="config.saveDatos('Factura')"
      >
        <img src="assets/icon/enviar.svg" alt="" />
        Enviar SRI
      </button>
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-4 p-2">
    <!-- Company Information -->
    <div class="bg-white p-4 rounded-lg shadow-sm">
      @defer {
        <section>
          <app-info-empresa (idePersonaRol)="$event && setPersonaRol.set($event)" [infoProforma]="config.infoProforma()" />
        </section>
      }
    </div>

    <!-- Client Information -->
    <div class="bg-white p-4 rounded-lg shadow-sm">
      @defer {
        <section>
          <app-info-cliente-empresa [setPersonaRol]="setPersonaRol()" [proformaCliente]="config.infoProforma()?.infoCustomer" />
        </section>
      }
    </div>
  </div>
  <!-- Products Section -->
  <div class="space-y-3 p-2">
    <div class="bg-white rounded-lg shadow-sm overflow-hidden">
      <div class="flex justify-end mb-4 gap-4 flex-col md:flex-row">
        <button
          class="inline-flex items-center gap-1 border border-gray-300 text-sm px-3 py-1 rounded-md hover:bg-gray-50"
          (click)="addPayment.open()"
        >
          + Añadir forma de pago
        </button>
        <button
          class="inline-flex items-center gap-1 bg-blue-500 hover:bg-blue-600 text-white text-sm px-3 py-1 rounded-md"
          (click)="addProduct.open()"
        >
          + Agregar Producto
        </button>
      </div>
      @defer {
        <app-info-productos
          [editProformaProducto]="config.infoProforma()?.detailProducts"
          [producto]="config.infoProducto()"
        />
      }
    </div>

    <div class="grid md:grid-cols-2 gap-4">
      <div class="space-y-3">
        @defer {
          <app-forma-pago [addPayment]="config.addPayments()"

          />
        }
        <!-- Voucher Upload Section -->
        @defer {
          <app-comprobante-pago />
        }
      </div>

      <div class="bg-white p-4 rounded-lg shadow-sm">
        @defer {
          <app-resumen-pago-enpresa [valid]="valid" [editarResumenPago]="config.infoProforma()" />
        }
      </div>
    </div>
  </div>
}

<app-modal #addProduct>
  <div class="h-full flex items-center">
    <div class="bg-white w-full rounded-lg overflow-auto max-h-full">
      <header class="p-4 flex justify-between items-center border border-b border-gray-300">
        <h2 class="font-bold text-xl truncate">Agregar Productos</h2>
        <button (click)="addProduct.close()" class="shrink-0">
          <img
            ngSrc="/assets/icon/close-icon.svg"
            width="14"
            height="18"
            alt="close"
            style="filter: invert(64%) sepia(1%) saturate(370%) hue-rotate(314deg) brightness(94%) contrast(91%)"
          />
        </button>
      </header>
      @defer {
        <section class="p-4">
          <app-lista-productos
            (addProducto)="addProduct.close()"
            (addProducto)="$event && config.infoProducto.set($event)"
            [setPersonaRol]="setPersonaRol()"
          />
        </section>
      }
    </div>
  </div>
</app-modal>
<app-modal #addPayment>
  <div class="h-full flex items-center justify-center">
    <div class="bg-white w-full max-w-2xl rounded-lg overflow-auto max-h-[80vh]">
      <header class="p-4 flex justify-between items-center border-b border-gray-300">
        <h2 class="font-bold text-xl truncate">Agregar formas de pago</h2>
        <button (click)="addPayment.close()" class="shrink-0">
          <img
            ngSrc="/assets/icon/close-icon.svg"
            width="14"
            height="18"
            alt="close"
            style="filter: invert(64%) sepia(1%) saturate(370%) hue-rotate(314deg) brightness(94%) contrast(91%)"
          />
        </button>
      </header>
      <section class="p-4">
        <app-add-payment
          (addPay)="addPayment.close()"
          (addPay)="$event && config.addPayments.set($event)"
          [total]="calculateTotal()"
        />
      </section>
    </div>
  </div>
</app-modal>
