<!-- @if (config.loading()) { -->
  <div class="w-full h-screen flex items-center justify-center">
    <div class="relative w-40 h-40">
      <img src="assets/logo-olimpush.png" fill alt="loading..." class="animate-ping" priority />
    </div>
  </div>
<!-- } @else { -->
  <div class="mb-4">
    @defer {
      <section class="bg-white rounded-lg shadow m-4">
        <!-- <app-info-emisor /> -->
      </section>
    }
    @defer {
      <section class="bg-white rounded-lg shadow m-4">
        <!-- <app-info-cliente /> -->
      </section>
    }
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 m-4">
    @defer {
      <section class="lg:col-span-3 space-y-4">
        <!-- <app-productos /> -->
      </section>
    }
    @defer {
      <section class="lg:col-span-1">
        <!-- <app-resumen-pago /> -->
      </section>
    }
  </div>
<!-- } -->
