<div class="flex flex-col md:flex-row gap-4 items-center justify-between">
  <div class="text-sm">
    Mostrando
    {{ startIndex }}
    a
    {{ endIndex }}
    de {{ paginationData.totalElements }} entradas
  </div>

  <div class="flex gap-2 items-center">
    <!-- Botones de página -->
    @for (page of [].constructor(paginationData.totalPages); track $index) {
      <div>
        <button
          (click)="changePage($index)"
          [class.bg-blue-500]="paginationData.currentPage === $index + 1"
          [class.text-white]="paginationData.currentPage === $index + 1"
          class="px-3 py-1 rounded hover:bg-gray-400"
        >
          {{ $index + 1 }}
        </button>
      </div>
    }
  </div>
</div>
