
  <div class="min-h-screen flex flex-col md:flex-row">
    <!-- Left side - Login Form -->
    <div class="w-full md:w-1/2 flex items-center justify-center p-8 bg-gradient-to-br from-blue-50 to-indigo-100">
      <div class="w-full max-w-md space-y-5 bg-white rounded-lg shadow-lg p-6">

        <!-- Logo -->
        <div class="space-y-1">
          <!-- <img src="assets/olimpush.png" alt="logo" class="w-24 h-24 mx-auto" /> -->
          <h1 class="text-lg font-semibold text-gray-900 text-center">Bienvenido</h1>
          <h2 class="text-sm text-gray-600 text-center">Iniciar sesión en tu cuenta</h2>
        </div>

        <!-- Login Form -->
        <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-6">
          <div class="space-y-2">
            <div>
              <label for="username" class="block text-sm font-medium text-gray-700">Usuario</label>
              <div class="mt-1 relative">
                <input
                  id="username"
                  type="username"
                  formControlName="username"
                  class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500"
                  required
                />
              </div>
              @if (form.controls.username.touched && form.controls.username.invalid) {
                <div class="text-red-500">
                  @if (form.controls.username.errors?.['required']) {
                    <span class="text-xs font-medium"> El usuario es obligatorio. </span>
                  }
                </div>
              }
            </div>

            <div>
              <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
              <div class="mt-1 relative">
                <input
                  [type]="showPassword() ? 'text' : 'password'"
                  id="password"
                  formControlName="password"
                  class="block w-full px-3 py-2 pr-10 border border-gray-300 rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500"
                  required
                />
                <button
                  type="button"
                  (click)="togglePasswordVisibility()"
                  class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
                >
                  @if (!showPassword()) {
                    <img src="/assets/icon/show-password.svg" alt="Show Password" />
                  } @else {
                    <img src="/assets/icon/eye-slash.svg" alt="eye-slash" />
                  }
                </button>
              </div>
              @if (form.controls.password.touched && form.controls.password.invalid) {
                <div class="text-red-500">
                  @if (form.controls.password.errors?.['required']) {
                    <span class="text-xs font-medium"> La contraseña es obligatorio. </span>
                  }
                </div>
              }
            </div>
          </div>

          <button
            type="submit"
            class="w-full flex justify-center py-2 px-2 border border-transparent rounded-md shadow-sm text-white bg-cyan-600 hover:bg-cyan-500 focus:outline-none"
          >
            Iniciar Sesión
          </button>

          <div class="text-center">
            <a href="#" class="text-sm text-cyan-600 hover:text-cyan-500">¿Olvidaste tu contraseña?</a>
          </div>
        </form>

        <!-- Social Login -->
        <div class="space-y-3">
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="px-2 bg-white text-gray-500">O continúa con</span>
            </div>
          </div>

          <div class="grid grid-cols-2 gap-3">
            <button class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
              <img src="assets/icons/google.svg" alt="Google" class="w-5 h-5">
              <span class="ml-2">Google</span>
            </button>

            <button class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
              <img src="assets/icons/apple.svg" alt="Apple" class="w-5 h-5">
              <span class="ml-2">Apple</span>
            </button>
          </div>
        </div>

        <!-- Sign Up Link -->
        <div class="text-center text-sm">
          ¿No tienes una cuenta?
          <a routerLink="/registro_empresa" class="text-cyan-600 hover:text-cyan-500">Regístrate aquí</a>
        </div>
      </div>
    </div>

    <!-- Right side - Illustration -->
    <div class="hidden md:block w-full md:w-1/2 relative overflow-hidden">
      <div class="absolute inset-0">
        <img src="assets/public.png" alt="Login Illustration" class="w-full h-full" />
      </div>
    </div>
  </div>

