<app-heard />

<header class="bg-gradient-to-r from-blue-600 to-indigo-600 text-white py-16">
  <div class="container mx-auto text-center">
    <h2 class="mb-6 text-4xl sm:text-3xl font-bold">
      Comprometidos con la innovación y el futuro de las empresas ecuatorianas
    </h2>
    <p class="mt-4 text-2xl">
      Ofrecemos soluciones seguras y eficientes para la gestión contable y la emisión de facturas electrónicas,
      adaptadas a la normativa de Ecuador.
    </p>
  </div>
</header>

<!-- About Us Section -->
<section class="container mx-auto px-6 py-16">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <!-- Misión -->
    <div class="bg-white p-8 rounded-lg shadow-2xl hover:shadow-xl transition duration-300 ease-in-out">
      <h3 class="text-3xl font-semibold text-blue-600 mb-6">Misión</h3>
      <p class="text-lg text-gray-700">
        Nuestra misión es ofrecer soluciones tecnológicas avanzadas para la facturación electrónica y la gestión
        contable, ayudando a las empresas a optimizar sus procesos y garantizar el cumplimiento de la normativa fiscal
        ecuatoriana. A través de herramientas intuitivas y eficientes, buscamos facilitar la transformación digital de
        nuestros clientes, impulsando su crecimiento y éxito en un entorno fiscal cada vez más exigente.
      </p>
    </div>

    <!-- Visión -->
    <div class="bg-white p-8 rounded-lg shadow-2xl hover:shadow-xl transition duration-300 ease-in-out">
      <h3 class="text-3xl font-semibold text-blue-600 mb-6">Visión</h3>
      <p class="text-lg text-gray-700">
        Nuestra visión es posicionarnos como un referente en Ecuador en el desarrollo de soluciones innovadoras para la
        facturación electrónica y la contabilidad. Buscamos acompañar a las empresas en su transformación digital,
        ofreciéndoles herramientas confiables y adaptadas a la normativa fiscal, con el objetivo de optimizar sus
        procesos contables y fiscales a medida que avanzamos hacia el futuro.
      </p>
    </div>
  </div>

  <!-- Compromiso con la Innovación -->
  <div class="bg-white p-8 rounded-lg shadow-2xl mt-16">
    <h3 class="text-3xl font-semibold text-blue-600 mb-6">Compromiso con la Innovación</h3>
    <p class="text-lg text-gray-700">
      En nuestra empresa, estamos profundamente comprometidos con la innovación constante. Buscamos integrar las últimas
      tecnologías para desarrollar soluciones que no solo cumplan con las normativas fiscales, sino que también ayuden a
      las empresas a mejorar su eficiencia y competitividad. Nuestro enfoque se basa en escuchar a nuestros clientes,
      entender sus necesidades y adaptarnos rápidamente a los cambios del entorno digital y fiscal, garantizando siempre
      una experiencia fluida y segura.
    </p>
  </div>

  <!-- Contacto -->
  <div class="text-center mt-16">
    <h4 class="text-2xl font-semibold text-blue-600">¿Te interesa saber más?</h4>
    <p class="mt-4 text-lg text-gray-600">
      Si deseas más información sobre nuestros servicios o necesitas asesoría personalizada, ¡contáctanos hoy mismo!
    </p>
    <a
      [href]="link()"
      target="_blank"
      class="inline-block bg-blue-600 text-white py-4 px-10 rounded-full text-lg mt-6 hover:bg-blue-700 transition duration-300"
      >Enviar mensaje</a
    >
  </div>
</section>
<app-whatsapp />
<app-footer-web />
