<nav class="flex flex-wrap items-center justify-between p-6 bg-white">
  <img src="assets/olimpush.png" alt="Logo" class="h-10 mr-4" />

  <!-- Botón para abrir/cerrar el menú -->
  <button
    class="lg:hidden block text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none"
    (click)="toggleMenu()"
  >
    <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
      <path
        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
      />
    </svg>
  </button>

  <!-- Menú desplegable -->
  <div [ngClass]="{ hidden: !menuOpen, block: menuOpen }" class="w-full lg:flex lg:items-center lg:w-auto mt-4 lg:mt-0">
    <div class="text-sm lg:flex-grow"></div>

    <!-- Contenedor de botones en columnas para la versión móvil -->
    <div class="mt-8 lg:mt-0 w-full grid gap-4 lg:flex lg:space-x-4 lg:w-auto items-center">
      <a routerLink="/">
        <span class="ml-2 text-sm text-gray-700 font-medium">Inicio</span>
      </a>
      <a routerLink="/sobre_nosotros">
        <span class="ml-2 text-sm text-gray-700 font-medium">Sobre Nosotros</span>
      </a>
      <!-- Botón de Tutorial -->
      <a
        class="flex items-center rounded-md p-2 hover:bg-gray-50 sm:w-auto text-center"
        href="https://youtu.be/cVifD5UbF-E?si=OpgPS6pxeYiunrB9"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="assets/icon/tooltip.svg" alt="Tutorial" class="w-5 h-5" />
        <span class="ml-2 text-sm text-gray-700 font-medium">Ver tutorial</span>
      </a>

      <!-- Botón de Iniciar Sesión -->
      <a
        routerLink="/login"
        class="inline-block px-4 py-2 text-gray-600 border border-gray-300 rounded-md hover:bg-gray-100 w-full sm:w-auto text-center"
      >
        Iniciar sesión
      </a>

      <!-- Botón de Comenzar Gratis -->
      <a
        routerLink="/registro_empresa"
        class="inline-block px-4 py-2 text-white bg-blue-600 rounded-md hover:bg-blue-700 w-full sm:w-auto text-center"
      >
        Comenzar gratis
      </a>
    </div>
  </div>
</nav>
