<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
  <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 flex items-center gap-4">
    <div class="p-3 bg-blue-100 rounded-lg">
      <img src="/assets/icon/sale-daily.svg" alt="Ventas Diarias" class="w-8 h-8" />
    </div>
    <div>
      <p class="text-gray-500 text-sm">Ventas Diarias</p>
      <h3 class="text-lg font-bold text-blue-600">1</h3>
    </div>
  </div>

  <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 flex items-center gap-4">
    <div class="p-3 bg-green-100 rounded-lg">
      <img src="/assets/icon/sales-monthy.svg" alt="Ventas Mensuales" class="w-8 h-8" />
    </div>
    <div>
      <p class="text-gray-500 text-sm">Ventas Mensuales</p>
      <h3 class="text-lg font-bold text-green-600">2</h3>
    </div>
  </div>

  <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 flex items-center gap-4">
    <div class="p-3 bg-yellow-100 rounded-lg">
      <img src="/assets/icon/products.svg" alt="Productos Registrados" class="w-8 h-8" />
    </div>
    <div>
      <p class="text-gray-500 text-sm">Productos Registrados</p>
      <h3 class="text-lg font-bold text-yellow-600">2</h3>
    </div>
  </div>
  <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 flex items-center gap-4">
    <div class="p-3 bg-orange-100 rounded-lg">
      <img src="/assets/icon/perfil.svg" alt="Documentos Autorizados" class="w-8 h-8" />
    </div>
    <div>
      <p class="text-gray-500 text-sm">Clientes Registrados</p>
      <h3 class="text-lg font-bold text-red-600">3</h3>
    </div>
  </div>
  <div class="p-4 bg-white shadow-md rounded-lg border border-gray-200 flex items-center gap-4">
    <div class="p-3 bg-red-100 rounded-lg">
      <img src="/assets/icon/documents.svg" alt="Documentos Autorizados" class="w-8 h-8" />
    </div>
    <div>
      <p class="text-gray-500 text-sm">Documentos Autorizados</p>
      <h3 class="text-lg font-bold text-red-600">3</h3>
    </div>
  </div>

</div>
