<div
  class="h-full bg-primary overflow-auto overflow-x-hidden w-60 max-md:fixed transition-all z-50"
  [ngClass]="{ 'md:w-[72px]': closeSidebar(), '-left-60': !closeSidebar() }"
>
  <a
    class="grid grid-cols-[max-content_max-content] border-b border-b-gray-600 items-center gap-4 h-[72px] p-4"
    [ngClass]="closeSidebar() ? 'ps-3' : 'ps-6'"
  >
    <div class="size-12 relative">
      <img src="assets/logo.png" fill alt="" />
    </div>

    <h4 class="text-xl text-white font-semibold">OlimPush</h4>
  </a>
  <ul class="flex flex-col gap-3 p-4" [ngClass]="{ 'pe-0': closeSidebar() }">
    @for (route of userData(); track $index) {
      <li class="mb-1 group *:grid *:grid-cols-[max-content_max-content]">
        <a
          routerLinkActive="active bg-red-600"
          [ngClass]="{ 'pr-0 rounded-br-none rounded-tr-none': closeSidebar() }"
          class="py-2 px-4 text-white cursor-pointer hover:bg-secondary hover:text-white rounded-md group-[.active]:bg-secondary group-[.active]:text-white items-center gap-4"
          [routerLink]="route.url"
        >
          <div class="size-6 relative">
            <div [innerHTML]="route.icon"></div>
          </div>
          <span>{{ route.title }} </span>
        </a>
      </li>
    }
  </ul>
</div>

<div
  (click)="toggle()"
  class="overlay fixed inset-0 bg-black bg-opacity-50 md:hidden z-10 transition-all"
  [ngClass]="closeSidebar() ? 'w-full' : 'w-0'"
></div>
