<form [formGroup]="form">
  @if (!fileUrl()) {
    <div>
      <label
        class="bg-gray-50 border border-dashed border-neutral-400 block p-4 rounded-lg text-center mb-4 cursor-pointer"
      >
        <div class="flex gap-2 flex-col">
          <input
          type="file"
          (change)="onFileSelected($event)"
          class="hidden"
          accept=".xml"
        />
          <div class="size-14 mx-auto bg-blue-300 rounded-full flex items-center justify-center">
            <img src="/assets/icon/drag_and_drop.svg" alt="Upload" width="35" height="30" />
          </div>
          <p class="text-balance">Arrastre y suelte el archivo aquí o seleccione el archivo XML</p>
          <p class="text-sm text-neutral-400">Formato del archivo permitido: XML</p>
        </div>
      </label>
    </div>
  }

  @if (fileUrl()) {
    <div>
      <div class="p-2 rounded-lg flex items-center gap-3 bg-white border border-neutral-300">
        <div class="rounded-md size-10 flex items-center justify-center shrink-0 cursor-pointer bg-orange-500">
          <img src="/assets/icon/file.svg" width="20" height="20" alt="File" />
        </div>

        <div class="grow truncate">
          <div class="flex gap-2 items-center">
            <p class="truncate text-sm">{{ nameFile() }}</p>
          </div>
        </div>

        <div class="flex gap-1 truncate">
          <button
            class="flex items-center justify-center p-2 rounded-md bg-gray-100 hover:bg-gray-200"
            (click)="removeLogo()"
          >
            <img src="/assets/icon/trash-icon.svg" class="w-20 sm:w-6 md:w-5 lg:w-4" alt="Delete" />
          </button>
        </div>
      </div>
    </div>
  }

  <div>
    <app-custom-select
      formControlName="categoriaProduct"
      placeholder="Tipo de producto"
      [options]="categoriaProduct().values"
      [labels]="categoriaProduct().labels"
    />
  </div>
</form>

<div class="flex justify-end gap-4 mt-6 flex-col md:flex-row w-full md:w-auto">
  @if (!loading()) {
    <button
      class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 w-full md:w-auto mb-2 md:mb-0"
      type="button"
      (click)="created.emit(null)"
    >
      Cancelar
    </button>
    <button class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 w-full md:w-auto" (click)="submit()">
      Guardar
    </button>
  } @else {
    <div class="flex justify-center items-center h-full mt-4">
      <div class="loader"></div>
    </div>
  }
</div>


