<nav class="flex flex-col md:flex-row items-center justify-between gap-4 mt-4">
  <div class="w-full md:w-auto"></div>

  <div class="flex flex-col md:flex-row items-center gap-4 w-full">
    <div class="w-full md:max-w-[200px]">
      <input
        type="text"
        placeholder="Buscar"
        class="pl-8 pr-2 py-1 w-full border rounded"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange()"
      />
    </div>

    <div class="flex gap-4 md:flex-row flex-col max-md:w-full">
      @defer {
        <!-- <app-filters-proforma (buscarResult)="$event && buscarTablaProforma($event)" /> -->
      }
    </div>
    @if (showTableProforma() !== 'tablaProformaEnProceso') {
      @defer {
        <button
          class="text-[#4A5568] shrink-0 flex font-semibold px-4 py-2 mt-2 md:mt-0 bg-[#E4E7EB] text-[13px] rounded-md justify-center items-center w-full md:w-auto md:ml-auto"
          (click)="convertirProformas()"
        >
          <div class="w-5 h-5 bg-[#718096] flex items-center justify-center rounded-full mr-2">
            <img src="/assets/icon/file.svg" class="w-[67%]" />
          </div>
          Facturar Proformas
        </button>
      }
    }
  </div>
</nav>

<hr class="my-4" />
@if (showTableProforma() === 'tablaProformaRegistrada' || showTableProforma() === '') {
  @defer {
    <app-tabla-registrada
      (ideProformas)="$event && ideProformas($event)"
      [ideIvoices]="ideEnviadoProceso()"
      (finalizar)="ideProforma.set(null)"
    />
  }
} @else {
  @defer {
    <app-tabla-proceso />
  }
}

<app-modal #facturarProforma>
  <div class="h-screen w-full flex items-center justify-center">
    <div class="bg-white max-w-md h-auto rounded-lg overflow-hidden">
      <section class="p-4">
        @defer {
          <app-facturar-proformas
            (facturarProforma)="facturarProforma.close()"
            [idsInvoices]="ideProforma()"
            (facturarProforma)="ideEnviadoProceso.set($event)"
          />
        }
      </section>
    </div>
  </div>
</app-modal>
