<nav class="flex flex-col md:flex-row items-center justify-between gap-4 mt-4">
  <div></div>

  <div class="flex items-center gap-4">
    <div class="w-full md:max-w-[200px] relative">
      <!-- Input con espacio para la lupa -->
      <input type="text" placeholder="Buscar por codigo" class="pl-4 pr-2 py-2 w-full border rounded" [(ngModel)]="searchQuery" />
      <!-- Ícono de lupa dentro del input -->
    </div>

    <!-- Botón de búsqueda -->
    <button class="px-4 py-2 rounded flex items-center bg-slate-200 hover:bg-slate-300" (click)="onSearchClick()">
      Buscar
    </button>
  </div>
</nav>

<hr class="my-4" />
<section>
  <div class="relative overflow-x-auto">
    <table class="w-full text-left text-xs">
      <thead>
        <tr class="*:font-normal *:text-neutral-400 *:px-6 *:py-3">
          <th class="px-4 py-3">Nombre</th>
          <th class="px-4 py-3 text-center">Productos Disponible.</th>
          <th class="px-4 py-3 text-center">IVA</th>
          <th class="px-4 py-3 text-center">Precio Unitario</th>
          <th class="px-4 py-3">Categoría</th>
          <th class="px-4 py-3"></th>
        </tr>
      </thead>

      <tbody>
        @if (listProducts() && listProducts()!.data!.listData.length > 0) {
          @for (product of listProducts()!.data.listData; track $index) {
            <tr class="border-b" class="hover:bg-gray-100 cursor-pointer" (click)="addProduct(product)">
              <th scope="row" class="font-normal p-2">
                <div class="flex gap-4 items-center">
                  <div class="size-10 bg-primary rounded-lg text-white flex items-center justify-center uppercase">
                    {{ product.name | initials }}
                  </div>
                  <div>
                    <p class="font-bold">{{ product.name }}</p>

                    <div class="flex items-center gap-2">
                      <div class="relative">
                        {{ product.mainCode }}
                      </div>
                    </div>
                  </div>
                </div>
              </th>

              <td class="px-4 py-3 text-center">
                <span
                  [ngClass]="{
                    'bg-blue-100 text-blue-700 border-blue-500': product.stock   === null,
                    'bg-green-100 text-green-700 border-green-500': product.availableStock  > 0,
                    'bg-red-100 text-red-700 border-red-500': product.availableStock < 5,
                  }"
                  class="rounded-full px-2 py-1 inline-block"
                >
                {{ product.availableStock === null ? 'No aplica' : product.availableStock + ' unidades' }}
                </span>
              </td>
              <td class="px-4 py-3 text-center">
                {{ product.tariffDesIva }}
              </td>
              <td class="px-4 py-3 text-center">
                {{ product.unitPrice | currency }}
              </td>
              <td class="px-4 py-3">
                {{ product.productType }}
              </td>
              <td></td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="100%">
              <div class="text-center py-9">
                <p class="text-neutral-400">No se encontraron resultados</p>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  @defer {
    @if (listProducts() && listProducts()!.data!.page.totalPages > 0) {
      <div class="mt-4">
        <app-pagination [paginationData]="listProducts()!.data!.page" (pageChange)="onPageChange($event)" />
      </div>
    }
  }
</section>
<div class="flex gap-4 justify-end mt-10 md:flex-row flex-col text-center max-md:w-full">
  <button
    class="items-center gap-2 bg-secondary px-4 py-2 rounded-lg text-white md:flex"
    (click)="addProducto.emit(null)"
  >
    Cerrar
  </button>
</div>
