<form [formGroup]="form" >
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
    <app-custom-input label="Ruc Empresa" formControlName="ruc" />
    <app-custom-input
      label="Establecimiento"
      formControlName="code"
      (input)="onUsernameInput($event, 'code')"
      subLabel="ej. 003"
    />

    <app-custom-input label="Telefono" formControlName="cellPhone"  (input)="onUsernameInput($event, 'cellPhone')" />

    <div>
      <app-custom-input label="Email" formControlName="email" />
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-1 gap-4 p-4">
    <app-custom-input label="Direccion" formControlName="address" />

  </div>

  <div class="flex gap-4 justify-end mt-10 md:flex-row flex-col text-center max-md:w-full">
    @if (!loading()) {
      <button
        class="items-center gap-2 bg-zinc-200 px-4 py-2 rounded-lg md:flex text-gray-600"
        type="button"
        (click)="createEstablecimiento.emit()"
      >
        Cancelar
      </button>
      <button
        class="items-center gap-2 bg-secondary px-4 py-2 rounded-lg text-white md:flex"
        (click)="submit()"
        [disabled]="form.pristine || form.invalid"
        [ngClass]="{ 'opacity-50 cursor-not-allowed': form.pristine || form.invalid }"
      >
        Guardar
      </button>
    } @else {
      <div class="flex justify-center items-center h-full mt-4">
        <div class="loader"></div>
      </div>
    }
  </div>
</form>
