<div >

  <div class="flex items-center justify-between flex-wrap">
    <div class="flex items-center gap-2 mb-3">
      <img src="/assets/icon/perfil.svg" alt="Info" class="w-6 h-6" />
      <h2 class="text-base font-medium">Información Cliente</h2>
      <span class="text-xs text-gray-500">Busque o registre un nuevo cliente</span>
    </div>
  </div>

  <div class="flex flex-col sm:flex-row sm:items-center gap-4 w-full mt-2">
    <!-- Campo de búsqueda -->
    <div class="relative w-full sm:flex-[3] dropdown">
      <input
        type="text"
        placeholder="Buscar cliente..."
        [(ngModel)]="searchTerm"
        (keyup)="search($event)"
        (focus)="dropdownOpen.set(true)"
        class="w-full pl-7 h-8 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="absolute left-2 top-2 text-gray-400"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
      <button
        type="button"
        (click)="toggleDropdown()"
        class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-600 focus:outline-none"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      @if (dropdownOpen()) {
        <div
          class="absolute z-10 w-full mt-1 bg-white border border-gray-200 rounded-md shadow-lg max-h-60 overflow-y-auto"
        >
          @if (filteredOptions()) {
            <ul class="py-1">
              @for (emisor of filteredOptions()!.data.listData; track $index) {
                <li
                  (click)="selectOption(emisor)"
                  class="px-3 py-2 hover:bg-gray-100 cursor-pointer flex items-center space-x-3"
                >
                  <img src="/assets/icon/user.png" class="size-10 rounded-full object-cover" />
                  <div>
                    <p class="text-sm font-medium text-gray-800">{{ emisor.names + ' ' + emisor.lastName }}</p>
                    <p class="text-xs text-gray-500">{{ emisor.identificationNumber }}</p>
                  </div>
                </li>
              }
              @if ((filteredOptions()?.data)!.length === 0) {
                <li class="px-3 py-2 text-sm text-gray-500 italic">No se encontraron resultados</li>
              }
            </ul>
          } @else {
            <div class="px-3 py-2 text-sm text-gray-500 italic">
              <p>Selecciona un cliente para comenzar a facturar.</p>
            </div>
          }
        </div>
      }
    </div>

    <!-- Botón para crear nuevo cliente -->

    <button
      class="inline-flex items-center gap-1 bg-blue-500 hover:bg-blue-600 text-white text-xs px-3 py-1 h-8 rounded-md"
      (click)="createClient.open()"
    >
      + Nuevo Cliente
    </button>
  </div>

  @if (loading()) {
    <div class="h-full text-center flex justify-center items-center p-5">
      <div class="loader"></div>
    </div>
  } @else {
    @if (!selectedCliente()) {
      <div
        class="flex flex-col items-center justify-center mt-4 w-full h-20 border border-gray-300 bg-gray-50 border-dashed rounded-md text-gray-400 text-center"
      >
        <p class="font-medium">Ningún cliente seleccionado</p>
        <span class="text-xs">Por favor, seleccione un cliente para ver su información</span>
      </div>
    } @else {
      <div class="mt-3">
        <div class="space-y-2 text-xs">
          <!-- Detalles del cliente -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <p>
              <span class="block text-gray-500">Nombres</span>
              <span class="font-medium truncate">{{
                selectedCliente()?.names + ' ' + selectedCliente()?.lastName
              }}</span>
            </p>
            <p>
              <label class="block text-gray-500">Identificación</label>
              <span class="font-medium truncate">{{ selectedCliente()?.identificationNumber }}</span>
            </p>
            <p>
              <span class="block text-gray-500">Teléfono</span>
              <span class="font-medium truncate">{{ selectedCliente()?.cellPhone | formatPhone }}</span>
            </p>
            <p>
              <span class="block text-gray-500">Correo</span>
              <span class="font-medium truncate">{{ selectedCliente()?.email }}</span>
            </p>
            <p>
              <span class="block text-gray-500">Dirección</span>
              <span class="font-medium truncate">{{ selectedCliente()?.address }}</span>
            </p>
          </div>

          <!-- Observación Adicional -->
          <div>
            <label for="nota" class="block text-gray-500">Observación Adicional</label>
            <textarea
              [(ngModel)]="configFactu.observation"
              id="nota"
              name="nota"
              class="border rounded-lg p-3 w-full mt-2 text-xs font-medium text-gray-900 placeholder-gray-400 focus:ring-2 focus:ring-sky-600 focus:outline-none resize-none transition-all"
              placeholder="Añadir observación"
              rows="2"
            ></textarea>
          </div>
        </div>
      </div>
    }
  }

  <app-modal #createClient>
    @defer {
      <div class="flex items-center justify-center">
        <div class="bg-white w-full max-w rounded-lg overflow-auto">
          <header class="p-4 flex justify-between items-center border-b border-gray-300">
            <h2 class="font-bold text-xl truncate">Crear Cliente</h2>
            <button (click)="createClient.close()" class="shrink-0">
              <img ngSrc="/assets/icon/close-icon.svg" width="14" height="18" alt="Close" class="opacity-50" />
            </button>
          </header>

          <section class="p-4">
            <app-create-cliente (created)="createClient.close()" (created)="$event && createCliente($event)" />
          </section>
        </div>
      </div>
    }
  </app-modal>
</div>
