<div class="p-5">
  <div class="bg-white rounded-lg shadow p-4">
    <nav class="flex flex-col md:flex-row items-start md:items-center justify-between gap-4 mt-4">
      <div class="flex flex-col items-start gap-1 w-full md:w-auto">
        <h3 class="text-2xl font-semibold">Lista de clientes</h3>
        <span class="text-xs text-gray-500 md:whitespace-nowrap md:truncate md:max-w-[300px] lg:max-w-full">
          Aquí puedes ver y administrar los perfiles de clientes de tu empresa.
        </span>
      </div>

      <div class="flex flex-col md:flex-row items-center gap-4 w-full md:w-auto">
        @defer {
          <app-filter />
        }

        <button
          class="text-white bg-secondary shrink-0 flex font-semibold px-4 py-2 mt-2 md:mt-0 rounded-md justify-center items-center w-full md:w-auto md:ml-auto hover:bg-red-700"
          (click)="createClient.open()"
        >
          <div class="relative size-5 shrink-0 mr-2">
            <img ngSrc="/assets/icon/add.svg" alt="Create" fill />
          </div>
          Agregar
        </button>
      </div>
    </nav>

    <div class="card text-xs mt-3">
      <p-table
        #dt
        [value]="listClientes()?.data?.listData"
        dataKey="id"
        [rowHover]="true"
        [rows]="numElementsByPage()"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[numElementsByPage(), 25, 50]"
        [loading]="loading()"
        [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        [totalRecords]="filterCustomer()?.totalElements"
        (onPage)="onPageChange($event)"
        [lazy]="true"
      >
        <ng-template #header>
          <tr>
            <th style="min-width: 14rem">
              <div class="flex justify-between items-center">
                Nombre

                <div class="relative">
                  <button class="flex items-center gap-2 px-4 py-2 rounded w-full" (click)="toggleFilter('nombre')">
                    <div class="relative size-5 shrink-0">
                      <img ngSrc="assets/icon/filters.svg" alt="Create" fill />
                    </div>
                  </button>
                  @if (open() === 'nombre') {
                    <form
                      class="bg-white absolute shadow min-w-full p-4 right-0 overflow-clip *:mb-2 md:min-w-64 flex flex-col gap-2"
                    >
                      <div class="flex flex-col gap-4 z-[1000]">
                        <input
                          type="text"
                          placeholder="Buscar"
                          class="pl-4 pr-2 py-2 w-full border rounded"
                          [(ngModel)]="searchQuery"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>

                      <div>
                        <button class="w-full px-2 py-2 bg-primary text-white rounded-md mb-1" (click)="filter()">
                          Buscar
                        </button>
                      </div>
                    </form>
                  }
                </div>
              </div>
            </th>

            <th style="min-width: 14rem">
              <div class="flex justify-between items-center">Dirección</div>
            </th>
            <th style="min-width: 10rem">
              <div class="flex justify-between items-center">Telefono</div>
            </th>
            <th style="min-width: 8rem">
              <div class="flex justify-between items-center">
                Estado Credito

                <div class="relative">
                  <button
                    class="flex items-center gap-2 px-4 py-2 rounded w-full"
                    (click)="toggleFilter('Estado Credito')"
                  >
                    <div class="relative size-5 shrink-0">
                      <img ngSrc="assets/icon/filters.svg" alt="Create" fill />
                    </div>
                  </button>

                  <!-- Se muestra el formulario de filtros solo si 'Estado Credito' está abierto -->
                  @if (open() === 'Estado Credito') {
                    <form
                      class="bg-white absolute shadow min-w-full p-4 right-0 overflow-clip z-20 mt-2 md:min-w-64 flex flex-col gap-2"
                    >
                      <div>
                        <h3 class="font-semibold text-lg text-gray-800">Filtros de Crédito</h3>
                        <hr class="border-gray-300 mt-2" />
                      </div>

                      <div class="flex flex-col gap-4 text-sm">
                        <label class="flex items-center justify-start cursor-pointer">
                          <input type="radio" name="credito" value="true" class="mr-2" [(ngModel)]="credito" />
                          Clientes Con Créditos
                        </label>
                        <label class="flex items-center justify-start cursor-pointer">
                          <input type="radio" name="credito" value="false" class="mr-2" [(ngModel)]="credito" />
                          Clientes Sin Créditos
                        </label>
                        <label class="flex items-center justify-start cursor-pointer">
                          <input type="radio" name="credito" value="null" class="mr-2" [(ngModel)]="credito" />
                          Todos
                        </label>
                      </div>

                      <div>
                        <button class="w-full px-2 py-2 bg-primary text-white rounded-md mb-1" (click)="filter()">
                          Buscar
                        </button>
                      </div>
                    </form>
                  }
                </div>
              </div>
            </th>
            <th style="min-width: 8rem">
              <div class="flex justify-between items-center">
                Estado Pago
                <div class="relative">
                  <button
                    class="flex items-center gap-2 px-4 py-2 rounded w-full"
                    (click)="toggleFilter('Estado Pago')"
                  >
                    <div class="relative size-5 shrink-0">
                      <img ngSrc="assets/icon/filters.svg" alt="Create" fill />
                    </div>
                  </button>
                  @if (open() === 'Estado Pago') {
                    <form
                      class="bg-white absolute shadow min-w-full p-4 right-0 overflow-clip z-20 *:mb-2 md:min-w-64 flex flex-col gap-2"
                    >
                      <div class="flex flex-col gap-4 mt-5">
                        <app-custom-select
                          label="Filtar por Estado"
                          [(ngModel)]="letterCreditStatus"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Selecciona un estado"
                          [options]="statusCredito().values"
                          [labels]="statusCredito().labels"
                        />
                      </div>

                      <div>
                        <button class="w-full px-2 py-2 bg-primary text-white rounded-md mb-1" (click)="filter()">
                          Buscar
                        </button>
                      </div>
                    </form>
                  }
                </div>
              </div>
            </th>
            <th style="min-width: 10rem">Acciones</th>
          </tr>
        </ng-template>
        <ng-template #body let-customer>
          <tr class="p-selectable-row" [pSelectableRow]="customer">
            <td scope="row" class="font-normal p-2 cursor-pointer" [routerLink]="customer.ideCustomerEncrypted">
              <div class="flex gap-4 items-center">
                <div class="size-10 bg-primary rounded-lg text-white flex items-center justify-center uppercase">
                  {{ customer.names + ' ' + customer.lastName | initials }}
                </div>
                <div>
                  <p class="font-bold">{{ customer.names }} {{ customer.lastName }}</p>
                  <div class="flex items-center gap-2">
                    <div>
                      {{ customer.identificationNumber }}
                    </div>
                  </div>
                </div>
              </div>
            </td>

            <td>
              {{ customer.address }}
            </td>
            <td>
              {{ customer.cellPhone | formatPhone }}
            </td>

            <td>
              <p-tag
                [value]="customer.hasActiveCredit === true ? 'ACTIVO' : '-'"
                [severity]="customer.hasActiveCredit === true ? 'success' : 'danger'"
              />
            </td>
            <td>
              <p-tag [value]="customer.letterCreditStatus" [severity]="getSeverity(customer.letterCreditStatus)" />
            </td>

            <td>
              <p-button
                icon="pi pi-eye"
                class="mr-2"
                severity="secondary"
                [outlined]="true"
                routerLink="{{ customer.ideCustomerEncrypted }}"
              />

              <p-button
                icon="pi pi-trash"
                severity="danger"
                [outlined]="true"
                (onClick)="deleteCounterClient.open(); viewingIdeCustomer.set(customer.ideCustomer)"
              />
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100%">
              <div
                class="flex flex-col items-center justify-center mt-4 h-20 border border-gray-300 bg-gray-50 border-dashed rounded-md text-gray-400 text-center"
              >
                <p class="font-medium">Ningún cliente encontrado</p>
                <span class="text-sm">Por favor, agregue un cliente para ver su información</span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<app-modal #createClient>
  @defer {
    <div class="flex items-center justify-center">
      <div class="bg-white w-full rounded-lg overflow-auto">
        <header class="p-4 flex justify-between items-center border-b border-gray-300">
          <h2 class="font-bold text-xl truncate">Agregar Cliente</h2>
          <button (click)="createClient.close()" class="shrink-0">
            <img ngSrc="/assets/icon/close-icon.svg" width="14" height="18" alt="Close" class="opacity-50" />
          </button>
        </header>
        <section class="p-6">
          <app-create-cliente-empresa (created)="createClient.close(); $event && createCliente($event)" />
        </section>
      </div>
    </div>
  }
</app-modal>

<app-modal #deleteCounterClient>
  <div class="h-screen w-full flex items-center justify-center">
    <div class="bg-white max-w-md h-auto rounded-lg overflow-hidden">
      <section class="p-4">
        @defer {
          @if (viewingIdeCustomer(); as ideClient) {
            <app-delete-cliente-empresa
              [ideCustomer]="ideClient"
              (deleted)="deleteCounterClient.close(); viewingIdeCustomer.set(null)"
              (deleted)="$event && deleteCliente($event)"
            />
          }
        }
      </section>
    </div>
  </div>
</app-modal>
